---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet">
		<!--Secondary Font: IBM Plex Sans -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	<meta charset="UTF-8" />
	<meta name="description" content="Quality Roofing of Indiana, LLC is a local family-owned and operated roofing company ready to help with your next roof repair, roof inspection, roof maintenance, or roof replacement. Siding and gutter work included in estimate. Free quote & industry-best warranty. Ready to work with us? Give us a call.">
	<meta name="keywords" content="roofing, roofing companies, roofing business in terre haute, roof repair near me">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="cache-control" content="no-store,max-age=0" />
	<link rel="icon" type="image/svg+xml" href="/qr-favicon.png" />
	<title>Coming Soon | Quality Roofing of Indiana, LLC</title>
	</head>
	<body>
		<slot />
	</body>
</html>